html, body {
    width: 100vw;
    height: 100vh;
    font-size: 0.8rem;
}

.col-centered {
    float:none;
    margin: 0 auto;
}
.border-bottom {
    border-width:2px !important;
}
.container-fluid {
    padding: 0;
}
.list-inline li:before {
    content: "/ ";
}
.list-inline li:first-child::before {
    content: "";
}
h5 {
    margin: 0;
}
.container {
    padding: 0;
    margin: 0;
}
.row {
    padding: 0;
}
.navigacija {
    height: 7%;
}
.forma {
    height:30%;
    z-index: 1;
}
.awesome {
    height: 20%;
}
.footeris {
    height: 43%;
}
nav {
    border-color: teal;
}
.dropdown-menu {
    top:100%;
    left: -100%;
}
.row {
    width: 100%;
}
.contact_links a {
    font-size: 0.8rem;
}
a:hover {
    text-decoration: none;
    color: teal;
}
.navbar-brand img {
    max-height: 3vw;
}
.navbar {
    z-index: 1;
}
.navbar-collapse {
    z-index: 2;
}
.btn-teal {
    font-size: 0.7  rem;
}