*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgb(69, 69, 167);
    display: flex;
    justify-content: left;
    width: 40%;

}
.header div {
    padding: 2vw;
}
.content {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}
.right {
    display: flex;
    flex-direction: column;
}
.left {
    flex: 1;
    background-color: olive;
}
.right div {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 2vw;
    background-color: aqua; 
    margin: 2vw 0;
    flex-wrap: wrap;

}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color: rgb(25, 25, 114);
    color: white;
    padding: 1vw 0;
}
.header1 {
    display: none;

}
@media (max-width:640px) {
    .content {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .left {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .right {
        flex-wrap: wrap;
        flex-direction: row;
    }
    .header {
        display: none;
    }
    .header1 {
        display: flex;
        background-color: rgb(69, 69, 167);
        width: 40%;
        padding:2vw 0;
    }
    .header :nth-child(4){
        display: flex;
    }

}
.header :nth-child(4) {
    margin: auto;
}