body {
   border: 1% solid black;
   font-size:5vw;
}
.container {
    width: 100%;
    height: 62.5vw;
    background-color: rgb(87, 87, 245);
    font-size: 40px;
    text-align: right;
    padding-right: 2vw;
    }
.container p {
    padding: 2vw;
    float:right;
}
.block {
    width: 25vw;
    height: 25vw;
    background-color: rgb(10, 46, 146);
    font-size: 30px;
    float: left;
    border: 1% solid black;

}
p {
    padding-top: 1vh;
}
.clear {
    clear: both;
    margin-top: 1%;
}
.block.stroked {
    float: left;
    text-align: center;
    margin-top: 2%;
    width: 19vw;
    height: 19vw;  
}
.stroked {
    border: 3vw solid black;
}
    
.rectangle.clear {
    font-size: 30px;
    width: 60vw;
    height: 25vw;
    background-color: blueviolet;
    margin-top:5%;
    float: left;
}
.rectangle {
    float:left;
    text-align: right;
}
.rectangle .stroked:hover {
    background-color: peru;
}
.rectangle .block {
background-color:red;
text-align: right;
}
.rectangle .stroked {
    background-color: yellow;
    width: 54vw;
    height: 19vw;
    margin-top: 10%;
    text-align: right;
}